.cover {
margin: 0;
max-width: 100%;
height: auto;
padding: 0;
min-width: 18.75em;
}

.main-block {
font-family: Arial, sans-serif;
padding: 0 25%;
min-width: 18.75em;
background-color: #212121;
color: #ffffff;
margin: 0;
}

.main-block-color-div {
margin: 0 0 0.5em 0;
padding: 0.5em;
background-color: #333333;
color: #000000;
max-width: 100%;
box-sizing: border-box;
}

p {
margin: 0 0 0.5em 0;
}

/* КАРТИНКА ======================================== */

.main-block-img {
margin: 0 0 0.5em 0;
max-width: 100%;
height: auto;
}

.main-block-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.main-block-container-mini-block {
width: 33%;
margin: 0;
padding: 5px;
text-align: center;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

.mini-block:hover {
background-color: #aeaeae;
}

/* АДАПТИВНЫЙ РЕЖИМ ===================================================================================================== */

@media (max-width: 800px) {

.main-block {
padding: 0.5em;
width: auto;
}

}