@font-face {
	font-family: 'Bangers'; 
	src: url(Bangers-Regular.ttf); 
}

/* ВЕРТИКАЛЬНЫЕ СЕКЦИИ ================================================== */

.section-x-100 {
	padding: 0;
	margin: 0;
	display: flex;
	max-width: 100%;
	box-sizing: border-box;
}

.section-x-75 {
	padding: 0;
	margin: 0;
	flex: 0 0 75%;
	box-sizing: border-box;
	display: flex;
	position: relative;
}

.section-x-50 {
	padding: 0;
	margin: 0;
	max-width: 50%;
	box-sizing: border-box;
}

.section-x-25-left {
	padding: 0 0.5em;
	margin: 0;
	flex: 0 0 25%;
	box-sizing: border-box;
	background-color: #333333;
}

.section-x-25 {
	padding: 0 0.5em;
	margin: 0;
	flex: 0 0 25%;
	box-sizing: border-box;
	background-color: #333333;
	order: 1;
}

.section-x {
	padding: 0;
	margin: 0;
	max-width: 100%;
	box-sizing: border-box;
}

/* ОКНО БРАУЗЕРА ================================================== */

body {
	padding: 0;
	margin: 0;
	max-width: 100%;
	min-width: 300px;
}

main {
	padding: 0;
	margin: 0;
	max-width: 50%;
	min-width: 31.25em;
	box-sizing: border-box;
	order: 0;
}

/* ШАПКА ================================================== */

header {
	padding: 1em 1em 0.5em 1em;
	margin: 0 0 0.5em 0;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
}

.logo {
	color: #ffffff;
	font-family: 'Bangers';
	font-size: 3em;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	flex: 2;
}

/* ПОДВАЛ ================================================== */

footer {
	padding: 1em 1em 0.5em 1em;
	margin: 0;
	max-width: 100%;
	box-sizing: border-box;
	justify-content: center;
}

/* КАРТИНКА ================================================== */

.photo {
	margin: 0 0 0.5em 0;
	max-width: 100%;
	box-sizing: border-box;
}

/* ЦИТАТА ================================================== */

.quote {
	padding: 1em;
	border-left: 5px solid #616161;
	background-color: #f1f1f1;
	margin: 0 0 0.5em 0;
	color: #000000;
	font-size: 1.1rem;
	font-family: Arial, sans-serif;
	max-width: 100%;
	box-sizing: border-box;
	line-height: 1.5em;
}

/* АБЗАЦ ================================================== */

.paragraph {
	color: #000000;
	font-size: 1em;
	font-family: Arial, sans-serif;
	margin: 0 0 0.5em 0;
	line-height: 1.5em;
	box-sizing: border-box;
}

/* Цвет текста выделенного текста */
.paragraph::selection {
	background-color: #000000;
	color: #ffffff;
}

/* РАЗДЕЛИТЕЛЬ ================================================== */

.separator {
	margin: 0 0px 0.5em 0px;
	border-top: 1px solid #000;
	max-width: 100%;
	box-sizing: border-box;
}

/* ЗАГОЛОВОК ================================================== */

.heading {
	color: #000000;
	font-family: sans-serif;
	font-size: 2.5rem;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
}

/* ПОДЗАГОЛОВОК ================================================== */

.subtitle {
	color: #000000;
	font-family: sans-serif;
	font-size: 1.64705882em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
}

.subtitle-2 {
	color: #000000;
	font-family: sans-serif;
	font-size: 1.25rem;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
}

/* НАВИГАЦИЯ ================================================== */

.navigation {
	border: 2px solid #bbbbbb;
	padding: 1em 1em 0.5em 1em;
	border-radius: 0em;
	margin: 0 0 0.5em 0;
	background-color: #f8f9fa;
	max-width: 100%;
	box-sizing: border-box;
}

.color-point-1 {
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 3vw;
	margin: 0 0 0.5em 0;
	background-color: #720e9e;
	padding: 0.2em;
}

.point-1 {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 3vw;
	margin: 0 0 0.5em 0;
	margin-left: 0;
	padding: 0.2em;
}

.point-2 {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 3vw;
	margin: 0 0 0.5em 0;
	margin-left: 0.5em;
	padding: 0.2em;
}

.point-3 {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 3vw;
	margin: 0 0 0.5em 0;
	margin-left: 1em;
	padding: 0.2em;
}

.point-1:hover, 
.point-2:hover, 
.point-3:hover {
	background-color: #cccccc;
}

/* ВЫНОСКА ================================================== */

.box-color {
	background-color: #e6e6e6;
	padding: 1em 1em 0.5em 1em;
	margin: 0 0 0.5em 0;
	max-width: 100%;
	box-sizing: border-box;
}

/* СПИСКИ ================================================== */

.list {
	color: #000000;
	font-size: 1em;
	font-family: sans-serif;
	margin: 0 0 0.5em 0;
	line-height: 1.5em;
	list-style-type: disc;
}

.list-2 {
	color: #000000;
	font-size: 1em;
	font-family: sans-serif;
	margin: 0 0 0.5em 0;
	line-height: 1.5em;
	list-style-type: circle;
	tab-size: 0.5em;
	margin-left: 1em;
}

.n-list {
	color: #000000;
	font-size: 1em;
	font-family: sans-serif;
	margin: 0 0 0.5em 0;
	line-height: 1.5em;
}

/* ====================================================================================================================================================== */

/* КНОПКА =================================== */

.a-button-white {
background-color: #fff;                    /* устанавливаем белый цвет фона */
color: #000;                               /* устанавливаем черный цвет текста */
padding: 10px 20px;                        /* задаем отступы внутри кнопки */
box-sizing: border-box;                    /* учитываем границы в размерах элемента */
width: 100%;                               /* устанавливаем ширину элемента в 30% */
display: flex;                             /* используем flexbox для позиционирования элементов */
font-family: Helvetica, Arial, sans-serif; /* устанавливаем шрифт */
transition: background-color 0.3s;         /* добавляем плавное изменение цвета фона */
align-items: center;                       /* центрируем элементы по вертикали */
justify-content: center;                   /* центрируем элементы по горизонтали */
margin: 0 0 0.5em 0;
white-space: nowrap;
}

.a-button-white:hover {
background-color: #e3e3e3;                 /* изменяем цвет фона при наведении */
}

.a-button-white:active {
background-color: #cccccc;                 /* изменяем цвет фона при нажатии */
}

/* БЛОК КОЛОНКИ =================================== */

.columns {
margin: 0;                                 /* Удалить default margin */
display: flex;                             /* Показать как flexbox */
width: 100%;                               /* Установить ширину контейнера равной ширине родительского элемента */
}

.column {
width: 50%;                                 /* Установить ширину столбца равной половине ширины родительского элемента */
margin: 0 10px 0 0;                         /* Добавить отступ справа и слева для каждого столбца */
border-radius: 7px;                         /* Добавить радиус скругления для каждого столбца */
box-sizing: border-box;                     /* Использовать box-sizing border-box для включения отступа в расчет ширины */
}

/* БЛОК ЛИСТАНИЕ =================================== */

.scroll {
width: 100%; /* ширина блока */
white-space: nowrap; /* препятствие переходу на новый ряд */
overflow-x: auto; /* Разрешить горизонтальное профильтрование */
}

.scroll-block {
width: 100%;
display: inline-block; /* отображение как inline-block */
overflow: hidden;
box-shadow: 3px 3px 5px #000000;
}

/* ФРАГМЕНТ =================================== */

.fragment {
width: 30%; /* ширина 80% от родителя */
min-width: 100px; /* минимальная ширина 100 пикселей */
max-width: 500px; /* максимальная ширина 500 пикселей */
display: inline-block; /* отображение как inline-block */
overflow: hidden;
margin-right: 0.5em;
text-decoration: none;
}

.fragment-photo {
margin: 0 0 0.5em 0;
max-width: 100%;
box-sizing: border-box;
border-radius: 1em;
}

.fragment-p {
color: #000000;
font-size: 1em;
font-family: sans-serif;
margin: 0 0 0.5em 0;
line-height: 1.5em;
box-sizing: border-box;
text-align: center;
}

/* СПОЙЛЕР =================================== */

details {
border: 1px solid #aaa;
border-radius: 4px;
padding: 0.5em 0.5em 0;
max-width: 100%;
margin: 0 0 0.5em 0;
}

summary {
font-weight: bold;
margin: -0.5em -0.5em 0;
padding: 0.5em;
}

details[open] {
padding: 0.5em;
}

details[open] summary {
border-bottom: 1px solid #aaa;
margin-bottom: 0.5em;
}

@media (max-width: 700px) {

/* ОКНО БРАУЗЕРА =================================== */

.page {
display: block;
max-width: 100%;
min-width: 250px;
}

/* ГОРИЗОНТАЛЬНЫЕ СЕКЦИИ =================================== */
.article {
padding: 0 0.5em;
max-width: 100%;
min-width: 100%;
}

.menu-right {
padding: 0 25%;
background-color: #232323;
max-width: 100%;
}

.menu-left {
padding: 0 25%;
background-color: #232323;
max-width: 100%;
}

/* БЛОК КОЛОНКИ =================================== */

.columns {
display: block;
}

.column {
width: 100%;
}

/* -------------------------------------- */

.quote {
padding: 10px;
border-left: 7px solid #616161;
font-size: 19px;
font-family: sans-serif;
background-color: #f1f1f1;
max-width: 100%;
min-width: 250px;
}

.navigation {
max-width: 100%;
min-width: 250px;
}

}

.sh {
border: 2px solid #bbbbbb;
padding: 0;
margin: 1em;
background-color: #f8f9fa;
max-width: 120em;
box-sizing: border-box;
position: relative;
border-radius: 15px;
}

.shn {
display: flex;
max-width: 100%;
position: relative;
height: 70px;
}

.ava {
width: 9.4em;
height: 9.4em;
position: absolute;
border-radius: 100%;
border: 0.3em solid #ffffff;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
user-select: none;
}

.ob {
border-radius: 15px;
min-width: 100%;
max-width: 100%;
}

.pp {
padding: 1em 0 0 2em;
margin: 0;
position: absolute;
}